@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

body {
  background-color: #000000;
  color: #a95ffb;
  font-family: 'Metamorphous', serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  font-family: 'Metamorphous', serif;
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 20px;
}
